html, body, div, ul, ol, li, dl, dt, dd, p, h2, h3, h4, span, input, textarea, select, option, table, tr, td, dd, dt, blockquote, ins {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

body {
  background: #f1f1f1;
  font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","STHeitiSC-Light",Arial,sans-serif;
  min-width: 320px;
  color: #666;
  font-size: 14px;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

img {
  border: none;
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

ul, li {
  list-style-type: none;
}

i, em {
  font-style: normal;
}

input,button {
  -webkit-appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  outline: none;
  @extend %ffyh;
}

a {
  text-decoration: none;
  color: #000;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.fb{font-weight: bold;}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.container{
  width: 1000px;
  margin: 100px auto 0;
}

.left{
  float: left;
}

.right{
  float: right;
  position: relative;
}

.left,.right {
  width: 480px;
  height: 500px;
  border: 1px solid #ccc;
}

.rollBox{
  width: 100%;
  height: 448px;
  overflow-y: auto;
}
.rollBox::-webkit-scrollbar{
  width: 12px;
  cursor: pointer;
  background-color: #F5F5F5;
}

.rollBox::-webkit-scrollbar-thumb{
  background-color: #00afee;
}
.roomList li{
  float: left;
  width: 225px;
  margin: 10px 0 0 10px;
  background: #fff;
  box-shadow: 0 0 3px #ccc;
  padding: 3px;
  cursor: pointer;
}

.roomList .avatar{
  width: 50px;
  height: 50px;
  float: left;
}
.roomList .box{
  width: 160px;
  height: 50px;
  overflow: hidden;
  float: right;
  line-height: 17px;
}
.roomList .box span{
  padding: 0 4px;
}

.search{
  display: none;
  /* position: fixed;
  top: 101px;
  left: 50%; */
  height: 50px;
  box-shadow: 0 1px 1px #ccc;
  /*margin-left: 21px;*/
  position: relative;
  z-index: 1;
}
.search .avatar{
  float: left;
  width: 50px;
  height: 50px;
}
.search .text {
  width: 272px;
  height: 50px;
  border: none;
  float: left;
  line-height: 50px;
  padding-left: 8px;
  font-size: 16px;
  color: #999;
}
.search span{
  width: 52px;
  height: 50px;
  line-height: 50px;
  float: left;
  text-align: center;
  background: #fff;
  border-left: 1px solid #ccc;
  cursor: pointer;
}
.search span:hover{
  background: #f5f5f5;
}

.search span.active{
  background: #e9e9e9;
}

.chat{
  background: #fff;
  margin-top: 10px;
}
.chat li{
  padding: 6px;
  border-top: 1px dashed #ccc;
}
.chat li:first-child{
  border-top: none;
}
.chat li span{
  display: block;
  line-height: 1.6;
}
.chat li em{
  color: #ccc;
  font-size: 12px;
  display: block;
  margin-top: 6px;
  text-align: right;
}