[v-cloak] {
  display: none !important; }

header {
  padding: 10px;
  line-height: 26px; }
  header > div {
    float: left;
    margin-left: 10px; }
    header > div:first-child {
      margin-left: 0; }
  header a {
    cursor: pointer; }
  header input {
    border: 1px solid #ccc;
    width: 120px;
    height: 26px;
    padding: 0 6px;
    vertical-align: middle; }
  header button {
    height: 26px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-left: none;
    vertical-align: middle; }
    header button:hover {
      background: #ccc; }
    header button.disabled {
      cursor: default;
      color: #ccc;
      background: #f1f1f1; }
  header a, header span {
    color: #00c; }
  header .btn {
    width: 26px;
    height: 26px;
    border-left: none;
    text-align: center; }
    header .btn.outside {
      border-left: 1px solid #ccc;
      width: auto; }
    header .btn.play::after {
      content: '';
      width: 0;
      height: 0;
      display: inline-block;
      vertical-align: middle;
      border: 6px solid transparent;
      border-left: 12px solid #737383;
      margin-top: -3px; }
    header .btn.suspend::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 14px;
      height: 14px;
      background: url(../images/play.png) no-repeat;
      margin-top: -3px; }
    header .btn.suspend::after {
      margin-right: 4px; }

.list {
  padding: 0 5px; }
  .list li {
    float: left;
    width: 200px;
    border: 1px solid #ccc;
    background: #fff;
    margin: 10px 5px 0; }
    .list li .avatar {
      float: left;
      width: 50px;
      height: 50px;
      overflow: hidden;
      margin-right: 4px; }
  .list .top {
    overflow: hidden;
    height: 50px;
    line-height: 1;
    font-size: 12px; }
    .list .top span {
      margin: 3px 6px 0 0;
      display: inline-block;
      max-width: 138px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  .list .box {
    margin-top: 4px;
    text-align: center;
    height: 172px;
    overflow: hidden;
    position: relative;
    cursor: pointer; }
    .list .box img {
      transform: rotate(-90deg) scale(1.75); }
    .list .box em img {
      transform: initial; }
    .list .box .cover {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 80px;
      max-height: 80px;
      width: 40%;
      overflow: hidden; }
    .list .box i {
      display: table-cell;
      vertical-align: middle;
      height: 174px; }
      .list .box i:first-child {
        position: relative;
        z-index: 1; }
    .list .box .bg, .list .box .report {
      display: none; }
    .list .box:hover .bg {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.4);
      color: #f1f1f1;
      padding-top: 64px;
      z-index: 2; }
    .list .box:hover .report {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #00afee;
      color: #fff;
      width: 100%;
      text-align: center;
      line-height: 50px;
      z-index: 3; }
  .list .foo {
    padding: 4px;
    line-height: 1.4;
    font-size: 12px; }
    .list .foo em {
      color: #f00;
      margin-right: 4px; }
  .list .more {
    margin-bottom: 4px;
    text-align: center; }
    .list .more a {
      -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
      -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
      box-shadow: inset 0px 1px 0px 0px #ffffff;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
      background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
      background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
      background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
      background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
      background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
      background-color: #ffffff;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      border: 1px solid #dcdcdc;
      display: inline-block;
      cursor: pointer;
      color: #666666;
      font-family: Arial;
      font-size: 12px;
      font-weight: bold;
      padding: 4px 5px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #ffffff;
      max-width: 80px;
      margin-right: 4px;
      /*width: 48%;*/ }
      .list .more a:last-child {
        margin-right: 0; }
      .list .more a:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
        background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
        background-color: #f6f6f6; }
      .list .more a:active {
        position: relative;
        top: 1px; }

.accountInfo {
  padding: 10px; }
  .accountInfo .avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    float: left; }
  .accountInfo .box {
    float: left;
    margin-left: 10px; }

.treemenu {
  padding-left: 20px; }

.treemenu .toggler {
  cursor: pointer; }

.treemenu .toggler:before {
  display: inline-block;
  margin-right: 2pt; }

li.tree-empty > .toggler {
  color: #aaa; }

li.tree-empty > .toggler:before {
  content: "\2212"; }

li.tree-closed > .toggler:before {
  content: "+"; }

li.tree-opened > .toggler:before {
  content: "\2212"; }

.tree {
  color: #00afee;
  margin: 10px 0 0 10px;
  float: left;
  width: 250px; }
  .tree h4 {
    color: #333; }

.tree li,
.tree li > a,
.tree li > span {
  border-radius: 4px;
  margin-top: 2px; }

.tree li span {
  display: inline-block;
  padding: 4px; }
  .tree li span:hover, .tree li span.active {
    cursor: pointer;
    background: #00afee;
    color: #fff; }
    .tree li span:hover a, .tree li span.active a {
      color: #fff; }
  .tree li span.open i {
    transform: rotate(90deg); }

.tree i {
  display: inline-block;
  margin-right: 6px;
  font-family: Simsun; }

.tree li a {
  color: #00afee;
  text-decoration: none;
  border-radius: 4px; }

.tree li a.active:hover {
  background-color: #00afee; }

.vList li {
  margin-top: 10px; }
.vList a:hover {
  text-decoration: underline; }

.vNext {
  margin: 10px 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  background: #fff;
  border: 1px solid #ddd;
  color: #00afee; }

.snapshots {
  width: 100%; }
  .snapshots ul {
    width: 100%;
    padding-left: 300px; }
  .snapshots .box {
    width: 200px;
    height: 270px;
    overflow: hidden; }
    .snapshots .box img {
      transform: rotate(-90deg);
      width: auto;
      height: 200px;
      max-width: none;
      margin: 35px 0 0 -74px; }
  .snapshots .report {
    display: none;
    position: absolute;
    width: 100%;
    margin: 0;
    border-radius: 0;
    text-align: center;
    padding: 10px 0; }
  .snapshots li {
    float: left;
    width: 200px;
    margin: 10px 10px 0 0;
    position: relative;
    overflow: hidden; }
    .snapshots li:hover .report {
      display: block; }

.loading {
  width: 40px;
  height: 40px;
  overflow: hidden;
  background: url(../images/loading.gif) no-repeat;
  background-size: 100% auto;
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -20px; }

.v-loading::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  overflow: hidden;
  background: url(../images/loading2.gif) no-repeat;
  background-size: 100% auto;
  margin-left: 4px; }

.nextPage {
  background: #fff;
  text-align: center;
  margin: 20px 10px;
  background-color: white;
  height: 48px;
  line-height: 48px;
  cursor: pointer; }

.notAccount {
  text-align: center;
  padding-top: 60px; }
  .notAccount span {
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    vertical-align: middle;
    background: url(../images/smile.png) no-repeat;
    margin-right: 12px; }

.layer-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 8; }

.layer {
  background: #fff;
  position: fixed;
  width: 500px;
  top: 50%;
  left: 50%;
  margin: -316px 0 0 -250px;
  z-index: 9;
  border-radius: 5px;
  overflow: hidden; }
  .layer-head {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    color: #666; }
    .layer-head .close {
      display: block;
      float: right;
      font-family: 'Microsoft yahei';
      width: 26px;
      height: 26px;
      line-height: 26px;
      background: #ddd;
      text-align: center;
      color: #fff;
      border-radius: 26px;
      font-weight: normal;
      cursor: pointer;
      position: absolute;
      top: 6px;
      right: 6px; }
  .layer-con {
    padding: 10px;
    line-height: 2;
    padding-bottom: 60px; }
    .layer-con input[type=radio] {
      -webkit-appearance: radio;
      display: inline-block;
      vertical-align: middle; }
    .layer-con label {
      display: block;
      line-height: 1.6;
      margin-left: 1em;
      padding-left: .5em; }
      .layer-con label.active {
        background: #00afee;
        color: #fff; }
    .layer-con select {
      border: 1px solid #ddd;
      height: 26px;
      border-radius: 3px;
      outline: none; }
    .layer-con .submit {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background: #00afee;
      border: none;
      color: #fff;
      font-size: 20px;
      cursor: pointer; }
    .layer-con .v-loading {
      cursor: default; }

.cTable {
  border-collapse: collapse;
  margin-top: 10px;
  background: #fff;
  text-align: center;
  line-height: 1.6; }
  .cTable th {
    min-width: 120px; }
    .cTable th:first-child {
      min-width: 150px; }
    .cTable th i {
      display: inline-block;
      margin-right: 6px;
      vertical-align: middle; }
      .cTable th i:after, .cTable th i:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent; }
      .cTable th i:after {
        border-top: 7px solid #eee;
        margin-top: 2px; }
      .cTable th i:before {
        border-bottom: 7px solid #eee; }
    .cTable th.item {
      cursor: pointer; }
    .cTable th.down i:before {
      border-bottom-color: #007aff; }
    .cTable th.up i:after {
      border-top-color: #007aff; }
  .cTable tr td:first-child {
    white-space: nowrap; }
  .cTable td {
    max-width: 500px; }
    .cTable td:last-child {
      text-align: left; }
  .cTable th, .cTable td {
    border: 1px solid #ddd;
    padding: 6px; }
  .cTable a {
    color: #00c;
    float: left;
    width: 120px; }
  .cTable em {
    float: right;
    background: #00afee;
    display: inline-block;
    padding: 2px;
    margin-left: 2px;
    font-size: 12px;
    color: #fff;
    cursor: pointer; }

.subnav span, .subnav em {
  margin-left: 20px; }
.subnav em {
  color: #00c;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none; }

.tips {
  position: fixed;
  top: -30px;
  left: 50%;
  margin-left: -500px;
  width: 1000px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  border-radius: 0 0 6px 6px;
  z-index: 99999;
  transition: top .4s; }
  .tips::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    vertical-align: middle;
    margin: -2px 6px 0 0; }
  .tips.success {
    background: #43ab00; }
    .tips.success::before {
      background-image: url(../images/tips-smile.png); }
  .tips.error {
    background: #eb5757; }
    .tips.error::before {
      background-image: url(../images/tips-sad.png); }
  .tips.show {
    top: 0; }

.splunk {
  padding: 10px; }
  .splunk ul {
    float: left;
    width: 49.5%; }
    .splunk ul:first-child {
      margin-right: 1%; }
  .splunk table {
    background: #fff;
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%; }
  .splunk th {
    min-width: 60px; }
  .splunk th, .splunk td {
    border: 1px solid #ddd;
    padding: 6px; }
  .splunk .operate {
    width: 40px;
    min-width: initial;
    padding: 0; }
  .splunk .strike {
    color: #ccc; }
    .splunk .strike .dispose {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>'); }
  .splunk .dispose {
    cursor: pointer;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
    width: 40px;
    padding-right: 5px; }
  .splunk .copy {
    display: block;
    padding-right: 16px;
    position: relative; }
    .splunk .copy i {
      position: absolute;
      right: 0;
      top: 0;
      width: 14px;
      height: 14px;
      background: url(../images/copy.png) no-repeat;
      background-size: 100% auto;
      cursor: pointer; }
      .splunk .copy i:hover {
        background-image: url(../images/copy_hover.png); }

/*# sourceMappingURL=monitor.css.map */
